// Here some example of the power of Sass

// Access to other Sass files within the scss via the @import
@import 'variables';
@import 'functions';

* {
	margin: 0;
	padding: 0;
}

body {
	background: $body-bg;
	font-family: $main-font;
	text-align: center;
}

a {
	text-decoration: none;
	color: $dark-color;
}

.toggle-content {
	margin-bottom: 2em;
	display: none;
}

.container {
	max-width: $container;
	margin: auto;
	padding: 0 20px;
}

header#main-header {
	padding: 1em;
	background: $primary-color;
	// Calling the function from the function file
	color: set-text-color($primary-color);

	h1 {
		font-size: 40px;
	}
}

nav#main-nav {
	background: $secondary-color;
	height: 40px;

	ul {
		list-style: none;
		padding-top: 10px;
	}

	li {
		display: inline;
	}

	a {
		color: set-text-color($primary-color);
		padding-right: 20px;
		&:hover {
			color: $light-color;
		}
	}
}

.section {
	padding: $section-padding;

	h1 {
		margin-bottom: 30px;
	}
}

#section-a {
	// @extend sharing properties from .section to section-a
	@extend .section;
	background: $light-color;
	color: set-text-color($light-color);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../assets/hacker-3342696_1920.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.hero h1 {
	font-size: 5em;
	margin-top: 0;
	margin-bottom: 0.5em;
}

#section-b {
	@extend .section;
	background: $dark-color;
	color: set-text-color($dark-color);
	width: 50vw;
	height: 20vh;
	margin: 2em auto auto;
}

.button {
	padding: 10px 15px;
}

.button-a {
	@extend .button;
	// Control the darkness of the $primary-color button
	background: darken($primary-color, 10%);
	color: set-text-color($primary-color);
	display: block;
	width: 100px;
	padding: 1em;
	margin: 50px auto auto;
	border-radius: 20px;
}

.button-b {
	@extend .button;
	// Control the lightness of the $secondary-color button
	background: lighten($secondary-color, 10%);
	color: set-text-color($secondary-color);
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
	background: lighten($light-color, 10%);
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	position: relative;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	top: 0;
	right: 10px;
	position: absolute;

	:hover,
	:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
}
